.main-page {
  background-color: #2d082e;
  height: 445vh;
  width: 100vw;
}

h3 {
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px 0 #785687, 1px 1px 0 #bf922a;
  font-size: 4em;
  text-align: center;
}

.intro-text {
  color: #bf922a;
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 1.5em; 
}

.no-drinks-found-message {
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px 0 #785687, 1px 1px 0 #bf922a;
  font-size: 2.5em;
  text-align: center;
}