.logo {
  height: 10em;
  width: 10em
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

@media screen and (max-width:900px) {
  .logo {
    height: 8em;
    width: 8em
  }
}