.logo {
  height: 5em;
  width: 5em
}

h1 {
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px 0 #785687, 1px 1px 0 #bf922a;
  font-size: 2.5em;
  margin-left: -66%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}