.single-drink-page {
  background-color: #2d082e;
  padding-bottom: 20px; 
  
}

ul {
  list-style-type: none;
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 1.3em;
  text-align: start;
}

h1 {
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px 0 #785687, 1px 1px 0 #bf922a, 1px 1px 0 #bf922a;
  font-size: 4em;
  margin: 0;
}



.drink-img {
  height: 25em;
  box-shadow: 5px 5px 10px #bf922a, -5px -5px 10px #bf922a;
}

p {
  font-family: 'Alegreya', serif;
  font-size: 1.3em;
  text-align: start;
  margin-left: 1%
}

.drink-blowup {
  background-color: #2d082e;
  min-height: 100vh;
  margin: 0;
}

.home-btn {
  z-index: 1;
  background-color: #785687;
  color: #bf922a;
  font-size: 1.7em;
  border: none;
  border-radius: 20em;
  user-select: none;
  width: 29vw;
  height: 5vh;
  position: relative;
  transition: all 100ms linear;
  font-family: 'Cormorant Garamond', serif;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 
  0 2px 4px -2px rgb(0 0 0 / 0.1);
  cursor: pointer;
}
 
.home-btn:active {
  box-shadow: inset 0 0 0 4px #043b3f6b;
}

.home-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #9867ad;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  opacity: 0;
  animation: flash 100ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}

.home-btn:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0%{
      opacity: 1;
      transform: translate(45px);
  }
  100%{
      opacity: 0;
      transform: translate(0);
  }
}
