.single-drink-card {
  height: 75%; 
  width: 75%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px #bf922a, -5px -5px 10px #bf922a;
}

.drink-thumbnail {
  width: 100%;
  height: 100%;
}

.drink-name {
  font-size: 13px;
  color: #bf922a
}